* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-footer-color: rgba(34, 34, 34, 1);
  --body-color: rgba(27, 30, 33, 1);
  --calm-white: #cccccc;
}

body {
  background-color: var(--body-color) !important;
}

.underline-none {
  text-decoration: unset !important;
}

nav {
  background-color: var(--header-footer-color) !important;
}

.logo img {
  width: 35px;
}
footer {
  background-color: var(--header-footer-color) !important;
  padding: 20px 0;
  text-align: center;
}
.directoy {
  background-color: var(--header-footer-color) !important;
}
